
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
    
}

#tituloContenedor{
    position: relative;
    z-index: 5;
    width: 100%;
    margin-bottom: 10px;
    left: 0;
    

}

.links{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.row{
    display: flex;
    justify-content: space-around;
    width: 75%;
    

}

.link{
    text-decoration: none;
    background-color: pink;
    padding: 20px;
    margin: 20px;
    border: 5px solid royalblue;
    display: flex;
}

#home{
    margin-top: 5%;
}

#contact{
    text-decoration: none;
}


.diseños{
    text-decoration: none;
}

#titulo{
    background-color: black;
    color: blanchedalmond;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: top;
    padding: 1%;
}


.col{
    margin-left: 50px;
}

.box-precios{
    margin: 50px;
    margin-bottom: 5%;
    display: flex;
}

.tarjeta{
    height: 100px;
    width: 25%;
    margin: 50px;
    margin-right: 1%;
    background-color: lightsalmon;
    float: left;
    border: 5px solid steelblue;
   
}

.texto{
    margin: 10px;
    text-align: center;
    text-decoration: none;
    
}
h4{
   margin: 5%;
   text-align: center;
   
}

.diseños{
    height: 100px;
    width: 300px;
    margin-left: 40%;
    text-decoration: none;

}

#diseños{
    margin-top: 5%;
    margin-left: 46%;
}

#precios{
    margin-left: 46%;
}
